In [1]:
import nltk
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
nltk.download('brown')
nltk.download('averaged_perceptron_tagger')
from nltk.corpus import brown

[nltk_data] Downloading package brown to /home/halas/nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/halas/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [3]:
txt = brown.tagged_words()

In [4]:
tokens = [(tup[0].lower(), tup[1]) for tup in txt]
word_freq = {}

# Make a word-frequency dict
for token in tokens:
    if token[0] not in word_freq:
        word_freq[token[0]] = {}
        
    if token[1] not in word_freq[token[0]]:
        word_freq[token[0]][token[1]] = 1
    else:
        word_freq[token[0]][token[1]] += 1

In [12]:
df = pd.DataFrame.from_dict(word_freq).fillna(0).transpose()
df = df.div(df.sum(axis=1), axis=0) # Normalize the frequencies
df.head()

,AT,AT-TL,AT-HL,AT-NC,NIL,AT-TL-HL,NP-TL,NP,NN-TL,NN,...,IN+PPO,IN+IN,DO+PPSS,DTS+BEZ,RB+CS,WRB+DOD*,WDT+BER,FW-OD-NC,FW-PPSS+HV,PN+HVD
the,0.986309,0.009647,0.003616,0.000372,0.000043,0.000014,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
fulton,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.588235,0.411765,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
county,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.535484,0.458065,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
grand,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
jury,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.044776,0.940299,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# Select 'man' from the df
man_dist = df.loc['man']
man_dist['VB'], man_dist['NN']

(0.0024855012427506215, 0.9610604805302403)